.modal {
    position: absolute;
    top: 0;
    left: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
    padding: 40px;
    background-color: var(--secondary-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    @media screen and (min-width: 480px) and (max-width: 1199px) {

      width: 450px;
      height: 609px;
      
      }
  }

  .modal__button {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-8px, 8px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #ffffff;
    fill: #000000;
    cursor: pointer;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    &:hover,
    &:focus {
      fill: var(--link-color);}
    }

  

.modal__form {
  display: block;
  width: 448px;
  margin-top: 12px;

  @media screen and (min-width: 480px) and  (max-width: 1199px) {
    width: 370px;
height: 40px;
  }
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  

  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.signup__label {
  position: relative;

  margin-bottom: 10px;

  display: block;
  
  text-align: start;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;
}

.signup__input {
  width: 100%;
  padding: 12px 42px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.signup__label:focus-within .signup__input,
.signup__label:hover .signup__input {
  border-color: var(--link-color);
  outline: none;
}

.signup__label:hover .signup__icon,
.signup__label:focus-within .signup__icon {
  fill: var(--link-color);
}

.signup__icon {
  position: absolute;
  top: 50%;
  left: 12px;

  width: 18px;
  height: 18px;

  color: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.signup__comment {
  margin-bottom: 20px;
}

.signup__text {
  padding: 12px 16px;
  resize: none;
  
    @media screen and (min-width: 480px) and  (max-width: 1199px) {
      width: 370px;
height: 120px;
    }

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
  
    color: rgba(117, 117, 117, 0.5);

    
  }
}

.policy__label {
  position: relative;
  font-weight: 400;

  line-height: 1.71;
}

.policy__input {
  appearance: none;
}

.policy__input:checked + .policy__icon {
  background-image: url(../images/icon-check-1.svg);
  background-color: var(--link-color);
  border-color: var(--link-color);
  background-size: contain;
  
  cursor: pointer;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.policy__icon {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  top: 0;
  left: -20px;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
    border-radius: 4px;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy__link {
  cursor: pointer;
  font-weight: 400;

  line-height: 1.71;

  text-decoration: underline;

  color: var(--first-logo-color);
}

.form__button {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;

  margin-top: 30px;

  padding: 10px 55px;

  color: var(--secondary-text-color);

  background: var(--link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
&:focus {
  background-color: var(--link-bg-color);
}
}
 
textarea {
    height: 120px;
  }