:root {
    --primary-text-color: #757575;
    --secondary-text-color: #ffffff;
    --title-text-color: #212121;
    --first-bcg-color: #2f303a;
    --second-bcg-color: #f5f4fa;
    --link-color: #2196f3;
    --third-text-color: rgba(255, 255, 255, 0.6);
    --first-logo-color: #2196f3;
    --second-logo-color: #000000;
    --main-border-color: #ececec;
    --secondary-border-color: #eeeeee;
    --main-icon-color: #afb1b8;
    --link-bg-color: #188ce8;
}