.menu-btn {
  z-index: 10;
  display: inline-flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;


&:hover,
&:focus {
  color: var(--link-color);
}
}

.menu-btn .menu-btn__cross {

  display: none;

}
.menu-btn.is-open .menu-btn__cross {

  display: block;
}

.menu-btn.is-open .menu-btn__mobil {

  display: none;
}