.team {
    background-color: var(--second-bcg-color);
}

.team__list {
    list-style: none;
    display: flex;

    @media screen and (min-width: 768px) {
        --items: 2;
    }

@media screen and (min-width: 1200px) {
        --items: 4;
    }
}

.team__worker {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--secondary-text-color);

    &:nth-child(-n + 3) {
        margin-right: 30px;
    }
}


.team__context {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team .team__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}



.team .team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 10px;
}


.team .team__job {
    
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    
}

.team__icons {
    display: flex;
    height: 44px;
    margin-top: 20px;
    padding: 0;
    justify-content: center;
    
  }

  .social-link__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--main-icon-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
  &:focus {
    background-color: #2196f3;
    color: #ffffff;
  }
  }

  .social__icon {
    fill: currentColor;
  }
  

  .icon__social:not(:last-child) {
    margin-right: 10px;
  }