:root {
    --primary-text-color: #757575;
    --secondary-text-color: #ffffff;
    --title-text-color: #212121;
    --first-bcg-color: #2f303a;
    --second-bcg-color: #f5f4fa;
    --link-color: #2196f3;
    --third-text-color: rgba(255, 255, 255, 0.6);
    --first-logo-color: #2196f3;
    --second-logo-color: #000000;
    --main-border-color: #ececec;
    --secondary-border-color: #eeeeee;
    --main-icon-color: #afb1b8;
    --link-bg-color: #188ce8;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--secondary-text-color);
    color: var(--primary-text-color);
}




h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

/* container */

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* section */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* header */

.header {
    border-bottom: 1px solid var(--main-border-color);
}

.header .logo {

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--second-logo-color);
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}


.logo--web {
    color: var(--first-logo-color);
    
}

.header__nav {
    display: flex;
    margin-right: auto;
 
  
    }


.header__container {
    display: flex;
    align-items: center;
}


.header__link {
    align-items: center;
    display: flex;
    
}

.header__link,
.contact__link {
    list-style: none;
}


.header .link:hover,
.header .link:focus{
    color: var(--link-color);
}


.header__link .link {
    display: block;
    text-decoration: none;
    font-weight: 500;

    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    margin-right: auto;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}


.header__link .link__current {
    color: var(--link-color);
    
}

.header__link>.item.item:nth-child(-n+2) {
    margin-right: 50px;
}

.item.is--active {
    position: relative;
  }

.contact__link {
    display: flex;
    padding-left: 0px;
    margin: 0px;
    align-items: center

   }

.contact__link .link {
    display: block;
    text-decoration: none;
    font-weight: 500;

    line-height: 1.14;
    letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.contact__link>.item.item:nth-child(1) {
    margin-right: 50px;
}

.icon__mail {
    vertical-align: -1px;

    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;

}

  
  .icon__tel {
    vertical-align: bottom;

    width: 10px;

    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}

.link__current::after {
    position: absolute;
    content: '';
  
    bottom: 0px;
    left: 0;
    border-radius: 2px;
  
    width: 100%;
    height: 4px;
  
    background-color: var(--link-color);
  }


 

/* main */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* buttons */


.buttons {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.buttons>.item:nth-child(n + 2) {
    margin-left: 8px;
}


.buttons .portfolio__button {
    cursor: pointer;
    text-decoration: none;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    border-radius: 4px;
    border: transparent;

    text-align: center;
   
    background-color: var(--second-bcg-color);
    color: var(--title-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio__button:hover,
.portfolio__button:focus {
    background-color: var(--link-color);
    color: var(--secondary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.buttons .portfolio__button.active {
    background-color: var(--link-color);
        color: var(--secondary-text-color);
}

.button.active {
    width: 73px;
    height: 38px;
    left: 495px;
    top: 174px;
}

.button.web {
    width: 128px;
    height: 38px;
    left: 576px;
    top: 174px;
}

.button.app {
    width: 145px;
    height: 38px;
    left: 712px;
    top: 174px;
}

.button.design {
    width: 103px;
    height: 38px;
    left: 865px;
    top: 174px;
}

.button.marketing {
    width: 130px;
    height: 38px;
    left: 976px;
    top: 174px;
}

/* projects */



.project__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.project__card {
 width: 370px;
}

.project__card:nth-child(-n + 6) {
    margin-bottom: 30px;
}


.project__card:nth-child(3n + 2) {
    margin-left: 30px;
    margin-right: 30px;
}

.project__title {
    margin-bottom: 4px;
    margin-right: auto;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.project__box {
    padding: 20px 24px;
    border: 1px solid var(--secondary-border-color);
    border-top: none;
}

.project__text {
    margin-right: auto;
    font-size: 16px;
    line-height: 1.87;
    color: var(--primary-text-color); 
}

.project__shadow:hover,
.project__shadow:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__shadow {
    display: block;
    cursor: pointer;
}
.project__slider {
    position: relative;
    overflow: hidden;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .project__desc {
    position: absolute;
  
    width: 100%;
    height: 100%;
  
    top: 0;
    transform: translateY(100%);
  
    padding: 63px 24px;
  
    text-align: center;
  
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
  
    color: var(--secondary-text-color);
  
    background-color: rgba(33, 150, 243, 0.9);
  
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }
  
  .project__card:hover .project__desc,
  .project__card:focus .project__desc {
    transform: translateY(0);
  }

/*hero*/
.section.hero {
    background-color: #2f303a;
    text-align: center;
    padding: 200px 0;
    max-width: 1600px;
    
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(https://github.com/MicRedd1985/goit-markup-hw-04/blob/main/images/Img.jpg?raw=true ); 
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
}

.hero .hero__title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
   
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}


.hero .hero__button {
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 188% */
    padding: 10px 32px;
    
   


    align-items: center;
    text-align: bcenter;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
    background-color: var(--link-color);
    border-radius: 4px;
    border: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.hero__button:hover,
.hero__button:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}

/* skills */

.skill__list {
    list-style: none;
    display: flex;
}

.skill__box::before {
    content: '';
    display: inline-block;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
  
  
    border-radius: 4px;
    background-color: var(--second-bcg-color);
  
  
    background-repeat: no-repeat;
    background-position: center;
  }
  
  
  .skill__box:nth-child(1)::before {
    background-image: url(../images/antenna.svg);
  }
  
  
  .skill__box:nth-child(2)::before {
    background-image: url(../images/clock.svg);
  }
  
  
  .skill__box:nth-child(3)::before {
    background-image: url(../images/diagram.svg);
  }
  
  
  .skill__box:nth-child(4)::before {
    background-image: url(../images/astronaut.svg);
  }
  

.skill__box:not(:last-child) {
    margin-right: 30px;
}

.skill__list .skill__title {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    
    text-transform: uppercase;
    color: var(--title-text-color);
}


.skill__list .skill__text {
     
    line-height: 1.71;

   }
/* our works */

.work__title {
       
    font-weight: 700;
       font-size: 36px;
       line-height: 1.16;
       text-align: center;
        margin-bottom: 50px;
        letter-spacing: 0.03em;

       color: var(--title-text-color);
   }

   .work__list {
    position: relative;
  }
  
  .work__text {
    position: absolute;
  
    display: flex;
   
    align-items: center;
  
  
    width: 100%;
    min-height: 70px;
  
    font-weight: 700;
    line-height: 1.14px;
  
    text-transform: uppercase;
  
    color: var(--secondary-text-color);
    background: rgba(47, 48, 58, 0.8);
  }



.section.work {
    padding-top: 0;
}

.work__list {
    list-style: none;
    display: flex;
}
.work__image:nth-child(2) {
    margin-right: 30px;
    margin-left: 30px;
}

  .work__serv {
    position: relative;
  }
  
  .work__text {
    position: absolute;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    left: 0;
    bottom: 0;
  
    width: 100%;
    min-height: 70px;
  
    font-weight: 700;
    line-height: 1.14px;
  
    text-transform: uppercase;
  
    color: var(--secondary-text-color);
    background: rgba(47, 48, 58, 0.8);
  }
  /* team */


.team {
    background-color: var(--second-bcg-color);
}


.team .team__list {
    list-style: none;
    display: flex;
}

.team__worker {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--secondary-text-color);
}

.team__worker:nth-child(-n + 3) {
    margin-right: 30px;
}

.team__context {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team .team__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}



.team .team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    text-align: center;
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 10px;
}


.team .team__job {
    
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */


    text-align: center;
    
}

.team__icons {
    display: flex;
    
    height: 44px;
    margin-top: 20px;
    
    padding: 0;
    justify-content: center;
    
  }

  .social-link__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--main-icon-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
  }
  .social__icon {
    fill: currentColor;
  }
  .social-link__icon:hover,
  .social-link__icon:focus {
    background-color: #2196f3;
    color: #ffffff;
  }

  .icon__social:not(:last-child) {
    margin-right: 10px;
  }

  /*our clients*/

  .clients-icon__list {
    display: flex;
    font-size: 36px;
    line-height: 1.16;
    margin-top: 50px;
    margin-bottom: 94px;
    padding: 0;
    text-align: center;
  }
  .clients-icon__item:not(:last-child) {
    margin-right: 30px;
  }

  .clients-icon__link {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: #afb1b8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .clients__icon {
    fill: currentColor;
  }
  .clients-icon__link:hover,
  .clients-icon__link:focus 
  {
    color: var(--link-color);
    background-color: var(--secondary-text-color);
    border-color: var(--link-color);
  }
 

  
/* footer */


.footer__link {
    list-style: none;
}
.footer__content {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--first-bcg-color);
    display: flex
}

.footer__container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: baseline;
}



.footer__link .link:hover,
.footer__link .link:focus {
    color: var(--link-color);
}


.footer__address {
    font-style: normal;
    
    }


.footer__link .link {
    text-decoration: none;
   display: flex;
    
    line-height: 1.71;
   
    color: rgba(255, 255, 255, 0.6);
}

.footer__link>.item:nth-child(-n + 2) {
    margin-bottom: 9px;;
}

.map__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}





.footer__content {
    background-color: var(--first-bcg-color);
}


.footer__content .logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    text-decoration: none;
    display: inline-flex;
    margin-bottom: 20px;
}

.btm-port .active {
    background-color: var(--link-color);
    color: var(--secondary-text-color);
  }
  
.social {
    margin-left: 70px;
  }

  .social__list {
    display: flex;
  }

  .social__title {
    font-weight: 700;
    
    font-size: 14px;
    line-height: 1.14;
    color: var(--secondary-text-color); 
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--secondary-text-color); 
    background-color: rgba(255, 255, 255, 0.1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }  
      
    .social__item:not(:last-child) {
    margin-right: 10px;
  }

  .social__icon {
    fill: currentcolor;
  }

  .social__link:hover,
  .social__link:focus {
    background-color: #2196f3;
    color: var(--secondary-text-color);
  }

  /* footer form subscribe */

.form__container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.subscribe__input {
  width: 358px;

  padding: 15px 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.03em;

  border: 1px solid rgba(255, 255, 255, 0.3);

  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--secondary-text-color);
}

.subscribe__label:focus-within .subscribe__input {
  outline: none;
}

.subscribe__button {
  cursor: pointer;

  margin-left: 12px;
  padding: 10px 28px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;

  color: var(--secondary-text-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border-radius: 4px;
  border: none;
}

.subscribe__icon {
  vertical-align: middle;
  margin-left: 10px;
  width: 24px;
  height: 24px;
}



  /* modal window*/

 
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .modal {
    position: absolute;
    top: 0;
    left: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
    padding: 40px;
    background-color: var(--secondary-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }

  .modal__button {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-8px, 8px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #ffffff;
    fill: #000000;
    cursor: pointer;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    
  }

  .modal__button:hover,
.modal__button:focus {

  fill: var(--link-color);

}
  
  /* modal form */

.modal__form {
  display: block;
  width: 448px;
  margin-top: 12px;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  

  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.signup__label {
  position: relative;

  margin-bottom: 10px;

  display: block;
  
  text-align: start;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;
}

.signup__input {
  width: 100%;
  padding: 12px 42px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.signup__label:focus-within .signup__input,
.signup__label:hover .signup__input {
  border-color: var(--link-color);
  outline: none;
}

.signup__label:hover .signup__icon,
.signup__label:focus-within .signup__icon {
  fill: var(--link-color);
}

.signup__icon {
  position: absolute;
  top: 50%;
  left: 12px;

  width: 18px;
  height: 18px;

  color: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.signup__comment {
  margin-bottom: 20px;
}

.signup__text {
  padding: 12px 16px;
  resize: none;
}

.signup__text::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.policy__label {
  position: relative;
  font-weight: 400;

  line-height: 1.71;
}

.policy__input {
  appearance: none;
}

.policy__input:checked + .policy__icon {
  background-image: url(../images/icon-check-1.svg);
  background-color: var(--link-color);
  border-color: var(--link-color);
  background-size: contain;
  
  cursor: pointer;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.policy__icon {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  top: 0;
  left: -20px;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
    border-radius: 4px;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy__link {
  cursor: pointer;
  font-weight: 400;

  line-height: 1.71;

  text-decoration: underline;

  color: var(--first-logo-color);
}

.form__button {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;

  margin-top: 30px;

  padding: 10px 55px;

  color: var(--secondary-text-color);

  background: var(--link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__button:hover,
.form__button:focus {
  background-color: var(--link-bg-color);
}
 
textarea {
    height: 120px;
  }


  
  .set-card {
    display: flex;
    margin: calc(-1 * var(--indent) / 2);
  }
  
  .set-item {
    margin: calc(var(--indent) / 2);
    flex-basis: calc((100% - var(--indent) * var(--items)) / var(--amount));
  }